:root {
    --middle-blue-green: #98dbd0ff;
    --keppel: #13c5adff;
    --space-cadet: #2c3c5cff;
    --cultured: #f3f3f3ff;
    --roman-silver: #7c8595ff;
}

html {
    font-family: 'Outfit', sans-serif;
    scroll-behavior: smooth; /* transicion  entre hipervinculos*/
}

*{
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--cultured);

    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
}


.logo {
    width: 40px;
    margin: 0;
}

.logo img {
    height: 2.5rem;
}
.banner h1 {
    color: white;
}


.container-menu {
    width: 100%;
    height: 60px;
    background: var(--space-cadet);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5rem ;
    box-sizing: border-box;
    position: sticky;
    top: 0;
    z-index: 10;
}

.nav-item {
    color:white;
    margin: 0 1.5rem;
    text-decoration: none;
    transition: color 0.3s ease;
}

.nav-item:hover {
    cursor: pointer;
    color: var(--middle-blue-green);
}

/* HOME*/

.home {
    background:  url("../img/background/cama_recortada5.jpg") ;
    height: 100vh;    /* vh implica el 100% de lo q sea la pantalla*/
    /* height: 38rem;  */
    background-color: var(--space-cadet); /* #F3F3F3 */
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    position: relative;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.subtitle {
    font-size: 40px;
    z-index: 1;
    text-align: center;
    /* color:  rgb(216, 204, 204); */
    color: white;
    /* box-shadow: 0 0.2rem 0.4rem rgba(0,0,0,0.3); */
}

/* .home p{
    text-align: center; 

    z-index: 1;
} */

.color-overlay {
    background: linear-gradient(to top right, #2c3c5cff, #7c8595ff);
    height: 100vh;
    width: 100% ;
    opacity: 0.3;
    position: absolute;
}


/* Productos y sobre Nosotrso*/

.container {
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
    padding: 80px 0;
    max-width: 1200px;
}

.producto, .nosotros{
    min-height: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 80px;
    justify-content: center;
    align-items: center;
}

.producto .subtitle, .nosotros h2{
    color: var(--space-cadet);
    font-size: 2.5rem;
    margin-bottom: 35px;
    text-align: left;

}


.producto__img {
    text-align: center;
}

.producto__img--left {
    text-align: left;
}

.producto__picture {
    max-width: 90%;
}

.producto__paragraph, .nosotros__paragraph {
    margin-bottom: 20px;
    line-height: 1.5;
    font-weight: 300;
}

.nosotros__img {
    text-align: center;    
}

.nosotros__picture {
    max-width: 80%;
}

/* Otros productos(grid) */
.otros {
    /* background-color: var(--roman-silver); */

}
 
.otros__grid {
    display: grid;
    height: 550px;
    grid-template-areas: 
    "img1 img1 img2 img3"
    "img1 img1 img4 img5";
    gap: 10px;
}

.otros__grid img {
    width: 100%;
}

.otros__item {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.otros__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
    opacity: 0.3;

}

.otros__item:nth-of-type(1) {
    grid-area: img1;
}

.otros__item:nth-of-type(2) {
    grid-area: img2;
}
.otros__item:nth-of-type(3) {
    grid-area: img3;
}
.otros__item:nth-of-type(4) {
    grid-area: img4;
}
.otros__item:nth-of-type(5) {
    grid-area: img5;
}

.otros__hover {
    position: absolute;
    background: var(--keppel);
    height: 100%;
    width: 100%;
    color: var(--middle-blue-green);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    transform:  translateX(100%);
    transition: 0.3s ease-in-out;
}

.otros__item:hover .otros__hover {
    transform:  translateX(0%);
}

/*Footer*/


footer{
    background-color: #222;
    padding: 3rem;
    color: #fff;
}

footer section{
    float: right;
}

footer p {
    margin:0;
}

footer a {
    transition: color 0.3s ease;
    color: white;
    text-decoration: none;
}

footer a:hover{
    color: cornflowerblue;
}